.flex-container {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    flex-wrap: wrap; /* отвечает за сворачивание (создание новой строки, если закончилось место)*/
    width: 100px;
    border: 1px solid blue;
  }
  
  .item {
    border: 1px solid red;
    padding: 510px;
  }