* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 50px;
}

.body{
  font-family: Arial, Helvetica, sans-serif;
  }
  .block {
    align-items: center;
  }
  .block__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     border: 2px solid #BC986A;
     margin: 0px 0px 20px 0px;
  }

  .block_column {
    border: 15px solid #FBEEC1;
    flex-grow: 1;
  }

  .block_item_1 {background-color: #DAAD86;
      padding: 50px;
      font-size: 50px;
      color: #fff;
      font-weight: 700;
      background-image: url(https://avatars.mds.yandex.net/get-kinopoisk-post-img/1362954/34189b740060ba70727e978d9672af3f/960x540);
      background-size: cover;   
      transition: 1s; 	
      }
      .block_item_1:hover {
        transform: scale(1.2); 	
      }
  
  
  .block_item_2 {background-color: #DAAD86;
    padding: 50px;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    background-image: url(https://www.be-in.ru/media/beingallery/uploads/staticcorestatic/2014/07/15/1321852847_.jpg);
    background-size: cover;  
    transition: 1s; 
      }
      .block_item_2:hover 
      {
        transform: scale(1.2); 
      }
   


.block_item_3 {background-color: #DAAD86;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  background-image: url(https://2datyvyhoda.ru/wp-content/uploads/2020/03/Miracle-Workers-TBS.jpg);
  background-size: cover; 
  transition: 1s; 	
      }
  .block_item_3:hover {
  transform: scale(1.2); 	  
}

.block_item_4 {
  background-color: #DAAD86;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  background-image: url(https://cdn.7days.ru/pic/21c/853065/1371554/86.jpg);
  background-size: cover;   
  transition: 1s; 	
  }

.block_item_4:hover {
  transform: scale(1.2); 
}

  .head {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid #BC986A;
    margin: 0px 0px 20px 0px;
}
.name {

  border: 15px solid #FBEEC1;
    flex-grow: 1;
    background-color: #DAAD86;
      padding: 50px;
      font-size: 50px;
      color: #fff;
      font-weight: 700;
      width: 100%;
}
 p {
  background-color: #FBEEC1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  font-style: italic;
  text-align: center;
  color: #a7917f;
  font-weight: 400;
  width: 100%;
}
